<!-- 
    An image of a red star that triggers the 'myMethod()' function
    on a double-click (dblclick) event. This method is defined in
    the component TypeScript file to toggle a boolean flag.
-->
<img (dblclick)="myMethod()" 
     src="https://upload.wikimedia.org/wikipedia/commons/3/34/Red_star.svg" 
     height="42" 
     width="42">

<br>

<!-- 
    This heading is conditionally hidden based on the value of 'blShow'.
    If 'blShow' is true, the heading is hidden.
    If 'blShow' is false, the heading is visible.
-->
<h2 [hidden]="blShow">Look at the Star!</h2>

<br>

<!-- 
    A button that calls 'onButtonClick()' each time it is clicked.
    In the component, this increases the counter 'count' by one.
-->
<button (click)="onButtonClick()">Press Me!</button>

<br>

<!-- 
    Displays the current count of how many times the button has been clicked.
    Uses interpolation {{count}} to show the value of 'count'.
-->
<h3>The number of times the button has been pressed is: {{count}}</h3>

<hr>

<!-- 
    Embeds the 'app-list' component into this template,
    displaying the list of presidents.
-->
<app-list></app-list>

